<section id="introborder">
	<div id="intro">
		<%= render :partial => "intro" %>
	</div>
</section>

<section id="login_signup">
	<% if user_signed_in? %>
		<%= render :partial => "layouts/login" %>
		<%= render :partial => "layouts/center_bottom" %>
		<%= render :partial => "layouts/welcome_user" %>
	<% else %>
		<%= render :partial => "layouts/login" %>
		<%= render :partial => "layouts/center_bottom" %>
		<%= render :partial => "layouts/signup" %>
	<% end %>
</section>
