<!DOCTYPE html>
<html>
<head>
  <title>Brewerlog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="headernav">
	<header id="headernavheader">
		<%= render :partial => "layouts/header" %>
	</header>

	<nav>
		<%= render :partial => "layouts/mainnav" %>
	</nav>
</div>

<section id="content">
	<%= yield %>
</section>

<footer>
	<%= render :partial => "layouts/footer" %>
</footer>

</body>
</html>
